# Ignore everything
*

# Except these top-level folders and their contents recursively
!FIR_Live_Filter/
!FIR_Live_Filter/**

!SensorDataBlockProcessing_FIR/
!SensorDataBlockProcessing_FIR/**

!SensorDataBlockProcessing_MA/
!SensorDataBlockProcessing_MA/**

# Keep README and .gitignore
!README.md
!.gitignore
